<div class="container">
  <!-- votre-component.component.html -->

  <div class="container mt-4">
    <h2>Ajouter un nouvel appartement</h2>
      <div *ngIf="isFormInvalid()" class="alert alert-danger">
    Le formulaire est invalide. Veuillez remplir correctement tous les champs obligatoires.
  </div>
    <form [formGroup]="appartementForm">
       <div class="form-group">
        <label for="appartNum">Id Apartment</label>
        <input
          type="number"
          class="form-control"
          id="appartNum"
          name="appartNum"
          formControlName="apart_id"
        />
      </div>
      <!-- Numéro de l'appartement -->
      <div class="form-group">
        <label for="appartNum">Numéro de l'appartement</label>
        <input
          type="number"
          class="form-control"
          id="appartNum"
          name="appartNum"
          formControlName="num_apt"
        />
      </div>

      <!-- Étage -->
      <div class="form-group">
        <label for="floorNum">Floor num</label>
        <input
          type="number"
          class="form-control"
          id="floorNum"
          formControlName="floorNum"
        />
      </div>

      <!-- Surface -->
      <div class="form-group">
        <label for="surface">Surface</label>
        <input
          type="number"
          class="form-control"
          id="surface"
          formControlName="surface"

        />
      </div>

      <!-- Terrasse -->
     <div class="form-group">
        <label for="appartNum">Terrace</label>
        <input
          type="text"
          class="form-control"
          id="appartNum"
          name="appartNum"
          formControlName="terrace"
        />
      </div>

      <!-- Surface de la terrasse -->
      <div class="form-group">
        <label for="surfaceTerrace">Surface de la terrasse</label>
        <input
          type="number"
          class="form-control"
          id="surfaceTerrace"
          formControlName="surfaceTerrace"

        />
      </div>
       <div class="form-group">
        <label for="appartNum">Categorie</label>
        <input
          type="text"
          class="form-control"
          id="appartNum"
          name="appartNum"
          formControlName="categorie"
        />
      </div>
 <div class="form-group">
        <label for="appartNum">Description</label>
        <input
          type="text"
          class="form-control"
          id="appartNum"
          name="appartNum"
          formControlName="description"
        />
      </div>
       <div class="form-group">
        <label for="appartNum">Residence ID</label>
        <input
          type="number"
          class="form-control"
          id="residence_id"
          name="residence_id"
          formControlName="residence_id"
        />
      </div>
      <!-- Bouton Soumettre -->
      <button type="submit" (click)="ajouterAppartement()" class="btn btn-primary m-2">
        Ajouter Appartement
      </button>
      <button type="reset" (click)="reset()" class="btn btn-info m-2">
        reset
      </button>
    </form>
  </div>
</div>
