<div class="card">
  <h5></h5>
  <img
    class="card-img-top"
    src="../../assets/iphone.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ p.id }}</h5>
    <p class="card-text">
      {{ p.libelle }}
    </p>
    <p class="card-text">{{ p.prix }} dt</p>
    <p class="card-text">
      <small class="text-muted">{{ p.marque }} </small>
      <small style="color: blueviolet">like {{ p.like }}</small>
    </p>
    <button class="btn btn-success" (click)="sendDataToParent(p.id)">
      like
    </button>
  </div>
</div>
