<div class="container">
<form action="" [formGroup]="registerForm">
<div>
  <input type="number" placeholder="id" formControlName="id">

</div>
<div><input type="text" placeholder="libelle" formControlName="libelle"></div>
<input type="number" placeholder="price" formControlName="price">
<div><input type="number" placeholder="qte" formControlName="qte">
</div>
</form>

<button (click)="ajouter()">ajouter</button>


</div>
<hr>
<h2>liste des produits</h2>

<div *ngFor="let x of listProducts">
  id : {{x.id}} - libelle:{{x.libelle}} - price:{{x.prix}} - qte:{{x.like}}

</div>
